*.md                    @agnusmor
aggregator/             @agnusmor
ci/                     @agnusmor @tclemos @ToniRamirezM @ARR552
cmd/                    @tclemos @ToniRamirezM @ARR552
config/                 @agnusmor @tclemos @ToniRamirezM @ARR552
db/                     @tclemos @ToniRamirezM @ARR552
docs/                   @agnusmor @joanestebanr
etherman/               @ARR552 @joanestebanr
ethtxmanager/           @tclemos
gasprice/               @ARR552
jsonrpc/                @tclemos
merkletree/             @ToniRamirezM
pool/                   @tclemos
proto/                  @ToniRamirezM
sequencer/              @ToniRamirezM @dpunish3r @agnusmor
sequencesender/         @ToniRamirezM @dpunish3r @agnusmor
state/                  @ToniRamirezM @tclemos
synchronizer/           @ARR552 @joanestebanr
test/                   @tclemos
