/dist/
/test/e2e/keystore

/test/vectors/src/**/*md
/test/vectors/src/**/*js
/test/vectors/src/**/*sol
/test/vectors/src/**/*sh
/test/vectors/src/package.json

/test/contracts/bin/**/*.bin
/test/contracts/bin/**/*.abi

**/.DS_Store
.vscode
.idea/
.env
out.dat

cmd/__debug_bin

.venv