
IsTrustedSequencer = false

[Log]
Environment = "development" # "production" or "development"
Level = "debug"
Outputs = ["stderr"]

[State]
	[State.DB]
	User = "state_user"
	Password = "state_password"
	Name = "state_db"
	Host = "x1-state-db"
	Port = "5432"
	EnableLog = false
	MaxConns = 200
	[State.Batch]
		[State.Batch.Constraints]
		MaxTxsPerBatch = 300
		MaxBatchBytesSize = 120000
		MaxCumulativeGasUsed = 30000000
		MaxKeccakHashes = 2145
		MaxPoseidonHashes = 252357
		MaxPoseidonPaddings = 135191
		MaxMemAligns = 236585
		MaxArithmetics = 236585
		MaxBinaries = 473170
		MaxSteps = 7570538

[Pool]
FreeClaimGasLimit = 1500000
IntervalToRefreshBlockedAddresses = "5m"
IntervalToRefreshGasPrices = "5s"
MaxTxBytesSize=100132
MaxTxDataBytesSize=100000
DefaultMinGasPriceAllowed = 1000000000
MinAllowedGasPriceInterval = "5m"
PollMinAllowedGasPriceInterval = "15s"
FreeGasAddress = "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
AccountQueue = 64
GlobalQueue = 1024
	[Pool.EffectiveGasPrice]
		Enabled = false
		L1GasPriceFactor = 0.25
		ByteGasCost = 16
		ZeroByteGasCost = 4
		NetProfit = 1
	    BreakEvenFactor = 1.1
		FinalDeviationPct = 10
		L2GasPriceSuggesterFactor = 0.5
	[Pool.DB]
		User = "pool_user"
		Password = "pool_password"
		Name = "pool_db"
		Host = "x1-pool-db"
		Port = "5432"
		EnableLog = false
		MaxConns = 200

[Etherman]
URL = "http://your.L1node.url"
ForkIDChunkSize = 20000
MultiGasProvider = false
	[Etherman.Etherscan]
		ApiKey = ""

[RPC]
Host = "0.0.0.0"
Port = 8545
ReadTimeout = "60s"
WriteTimeout = "60s"
MaxRequestsPerIPAndSecond = 5000
SequencerNodeURI = "https://internal.x1-test.net:2083/"
EnableL2SuggestedGasPricePolling = true
DisableAPIs = []
	[RPC.WebSockets]
		Enabled = true
		Port = 8546
	[RPC.Nacos]
		URLs = ""
		NamespaceId = "public"
		ApplicationName = ""
		ExternalListenAddr = "127.0.0.1:8123"
	[RPC.NacosWs]
		URLs = ""
		NamespaceId = "public"
		ApplicationName = ""
		ExternalListenAddr = "127.0.0.1:8123"

[Synchronizer]
SyncInterval = "1s"
SyncChunkSize = 100
TrustedSequencerURL = "" # If it is empty or not specified, then the value is read from the smc

[Sequencer]
TxLifetimeCheckTimeout = "10m"
MaxTxLifetime = "3h"
	[Sequencer.Finalizer]
		GERDeadlineTimeout = "5s"
		ForcedBatchDeadlineTimeout = "60s"
		SleepDuration = "100ms"
		ResourcePercentageToCloseBatch = 10
		GERFinalityNumberOfBlocks = 0
		ClosingSignalsManagerWaitForCheckingL1Timeout = "10s"
		ClosingSignalsManagerWaitForCheckingGER = "10s"
		ClosingSignalsManagerWaitForCheckingForcedBatches = "10s"
		ForcedBatchesFinalityNumberOfBlocks = 64
		TimestampResolution = "10s"
		StopSequencerOnBatchNum = 0
	[Sequencer.DBManager]
		PoolRetrievalInterval = "500ms"
		L2ReorgRetrievalInterval = "5s"
	[Sequencer.StreamServer]
		Port = 0
		Filename = ""
		Enabled = false

[SequenceSender]
WaitPeriodSendSequence = "5s"
LastBatchVirtualizationTimeMaxWaitPeriod = "5s"
MaxBatchesForL1 = 10
L2Coinbase = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"
PrivateKey = {Path = "/pk/sequencer.keystore", Password = "testonly"}

[Aggregator]
Host = "0.0.0.0"
Port = 50081
RetryTime = "5s"
VerifyProofInterval = "30s"
TxProfitabilityCheckerType = "acceptall"
TxProfitabilityMinReward = "1.1"
ProofStatePollingInterval = "5s"
SenderAddress = "0x70997970c51812dc3a010c7d01b50e0d17dc79c8"
CleanupLockedProofsInterval = "2m"
GeneratingProofCleanupThreshold = "10m"

[EthTxManager]
ForcedGas = 0
PrivateKeys = [
	{Path = "/pk/sequencer.keystore", Password = "testonly"},
	{Path = "/pk/aggregator.keystore", Password = "testonly"}
]

[L2GasPriceSuggester]
Type = "default"
DefaultGasPriceWei = 1000000000
MaxGasPriceWei = 0

#Type = "fixed"
#UpdatePeriod = "10s"
#DefaultGasPriceWei = 1000000000
#KafkaURL = "127.0.0.1:9092"
#Topic    = "middle_coinPrice_push"
#GroupID  = "web3_okbc_explorerchainprice"
## just in SASL_SSL mode
#Username = ""
#Password = ""
#RootCAPath = "only-4096-ca-cert"
#DefaultL2CoinPrice = 40
#GasPriceUsdt = 0.0001
#L2CoinId = 7184

## the follower strategy config demo that can dynamic adjust the factor through get the L1 and L2 coin price from kafka
#Type = "follower"
#UpdatePeriod = "10s"
#Factor = 1
#DefaultGasPriceWei = 1000000000
#KafkaURL = "127.0.0.1:9092"
#Topic    = "middle_coinPrice_push"
#GroupID  = "web3_okbc_explorerchainprice"
## just in SASL_SSL mode
#Username = ""
#Password = ""
#RootCAPath = "only-4096-ca-cert"
#L1CoinId = 15756
#L2CoinId = 7184
#DefaultL2CoinPrice = 40
#DefaultL1CoinPrice = 1600
#EnableFollowerAdjustByL2L1Price = true # dynamic adjust the factor through the L1 and L2 coins price in follower strategy

[MTClient]
URI = "x1-prover:50061"

[Executor]
URI = "x1-prover:50071"
MaxResourceExhaustedAttempts = 3
WaitOnResourceExhaustion = "1s"
MaxGRPCMessageSize = 100000000

[Metrics]
Host = "0.0.0.0"
Port = 9091
Enabled = false
ProfilingHost = "0.0.0.0"
ProfilingPort = 6060
ProfilingEnabled = false

[HashDB]
User = "prover_user"
Password = "prover_pass"
Name = "prover_db"
Host = "x1-state-db"
Port = "5432"
EnableLog = false
MaxConns = 200
