name: Test from zkevm-prover call
on:
  workflow_call:
    inputs:
      prover_image:
        required: true
        type: string  
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  test-from-prover:
    runs-on: [self-hosted, linux, X64, hc]

    strategy:
      matrix:
        go-version: [ 1.18.x ]
        goarch: [ "amd64" ]
        e2e-group: [ 2 ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        repository: 0xPolygonHermez/zkevm-node

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
      env:
        GOARCH: ${{ matrix.goarch }}

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker
      run: make build-docker

    - name: Compile SCs
      run: make compile-scs
      working-directory: test

    - name: Test
      run: make test-full-non-e2e
      working-directory: test
