---
name: Test e2e
on:
  push:
    branches:
      - main
      - master
      - develop
      - update-external-dependencies
      - 'release/**'
  pull_request:

jobs:
  test-e2e:
    strategy:
      fail-fast: false
      matrix:
        go-version: [ 1.21.x ]
        goarch: [ "amd64" ]
        e2e-group: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, cdk-validium-1 ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
      env:
        GOARCH: ${{ matrix.goarch }}

    - name: Build Docker
      run: make build-docker

    - name: Compile SCs
      run: make compile-scs
      working-directory: test

    - name: Test
      run: make test-e2e-group-${{ matrix.e2e-group }}
      working-directory: test
