---
name: Test non-e2e
on:
  push:
    branches:
      - main
      - master
      - develop
      - update-external-dependencies
      - 'release/**'
  pull_request:

jobs:
  test-full-non-e2e:
    strategy:
      matrix:
        go-version: [ 1.19.x ]
        goarch: [ "amd64" ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
      env:
        GOARCH: ${{ matrix.goarch }}

    - name: Compile SCs
      run: make compile-scs
      working-directory: test

    - name: Test
      env:
        ZKPROVER_URI: 127.0.0.1
      run: make test-full-non-e2e
      working-directory: test
